/* Mise en forme en-tete */
/* Mise en forme 1er bloc QUI SUIS JE */
/* Mise en forme 2eme bloc PARCOURS PRO */
/* Mise en forme 3eme bloc MOTIVATIONS */
/* Mise en forme 4eme bloc PLUS VALUES */
/* Mise en forme 5eme bloc BONUS */
/* Mise en forme Pied de page */


/* Mise en forme BODY */
body
{
	background-color: white;
	color: black; text-align: center;
	font-family: "Trebuchet MS", serif;
	text-align: center;
}
h1
{
	text-align: center; font-size: 2.5em; /* Titres de grande taille */
}
h2
{
	color: blue;
	font-style: italic;
}

h4
{
    color: black;
	font-weight: bold;
}
p
{
	font-size: 1em; /* Paragraphes de taille medium */
}
strong
{
	font-weight: bold;
}


/* Mise en forme en-tete */
header
{
    background-image: url("avatar3.png");
    background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat;
	background-position: 1350px 15px;
	color: red; text-align: center; font-style: oblique;
}


/* Mise en forme 1er bloc QUI SUIS JE */
.intro
{
	background-image: url("fondmosaic.png");
    background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat;
	color: white; text-align: center; 
	position:relative; width:1500px; padding-right:120px;
}
.intro img 
{
	position:absolute; right:90;
}


/* Mise en forme 2eme bloc PARCOURS PRO */
.monparcourspro em
{
	color: teal; font-style: oblique;
}
.monparcourspro span
{
	color: red; 
	font-weight: bold;
}
.monparcourspro strong
{
	font-weight: bold; 
}
.monparcourspro img
{
	text-align: center;
}


/* Mise en forme 3eme bloc MOTIVATIONS */
.mesmotivations
{
	background-image: url("fondsimplon2.png");
    background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat;
	color: white;
}
.article
{
	font-style: italic;
}
span
{
	font-style: italic;
}


/* Mise en forme 4eme bloc PLUS VALUES */
.mesplusvalues h4
{
	color: red;
}
.listeloisirs
{
	width: 95vw; margin: auto;
	text-align: center;
}

/* Mise en forme Carroussel */
#slideshow 
{
	position: relative;
	width: 640px;
	height: 380px;
	padding: 15px;
	margin: 0 auto 2em;
	border: 1px solid #ddd;
	background: #FFF;
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}
#slideshow:before,
#slideshow:after 
{
	position: absolute;
	bottom:16px;
	z-index: -10;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
}
#slideshow:before 
{
	left:0;
	transform: rotate(-4deg);
}
#slideshow:after 
{
	right:0;
	transform: rotate(4deg);
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container 
{
	position:relative;
	width: 640px;
	height: 380px;
	overflow: hidden;
}
	
/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after 
{
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	width: 100%;
	height: 1px;
	background: #999;
}
/* 
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider 
{
	position: absolute;
	left:0; top:0;
	width: 800%;
	height: 380px;
}

/* annulation des marges sur figure */
#slideshow figure 
{
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after 
{
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}

/* styles de nos légendes */
#slideshow figcaption 
{
	position:absolute;
	left:0; right:0; bottom: 5px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #fff;
	background: rgba(255,255,255,0.7);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
}

/* fonction d'animation */
@keyframes slider 
{
	0%, 10%, 100%	{ left: 0 }
	12.5%, 22.5%	{ left: -100% }
	25%, 35%		{ left: -200% }
	37.5%, 47.5%	{ left: -300% }
	50%, 60%		{ left: -400% }
	62.5%, 72.5%	{ left: -500% }
	75%, 85%		{ left: -600% }
	87.5%, 95%		{ left: -700% }
}
@-moz-keyframes 
{
	0%, 10%, 100%	{ left: 0 }
	12.5%, 22.5%	{ left: -100% }
	25%, 35%		{ left: -200% }
	37.5%, 47.5%	{ left: -300% }
	50%, 60%		{ left: -400% }
	62.5%, 72.5%	{ left: -500% }
	75%, 85%		{ left: -600% }
	87.5%, 95%		{ left: -700% }
}
@-webkit-keyframes 
{
	0%, 10%, 100%	{ left: 0 }
	12.5%, 22.5%	{ left: -100% }
	25%, 35%		{ left: -200% }
	37.5%, 47.5%	{ left: -300% }
	50%, 60%		{ left: -400% }
	62.5%, 72.5%	{ left: -500% }
	75%, 85%		{ left: -600% }
	87.5%, 95%		{ left: -700% }
}
/* propriété d'animation du sélecteur : */
#slideshow .slider 
{
	animation: slider 64s infinite;
}
@keyframes figcaptionner 
{
	0%, 13%, 24%, 27%, 37%, 41%, 49%, 53%, 61%, 66%, 74%, 78%, 87%, 91%, 98%, 100%		{ bottom: -55px;	}	/* Panneau en bas */
	18%, 22%, 29%, 35%, 43%, 47%, 55%, 59%, 68%, 72%, 80%, 85%, 93%, 97%		{ bottom: 0px;		}	/* Panneau en haut */
}
/* propriété d'animation de l'élément : */
#slideshow figcaption 
{
	animation: figcaptionner 64s infinite;
}


/* Mise en forme 5eme bloc BONUS */
.bonus
{
	background-image: url("fondmosaic.png");
    background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat;
	color: white;
}
.liensprofilspro
{
	width: 5vw; margin: auto;
	text-align: center;
}
.liensprojets2p2l
{
	width: 20vw; margin: auto;
	text-align: center;
}


/* Mise en forme Pied de page */
footer
{
	background-color: white;
	color: black; text-align: center;
}


/*  Fin Mise en forme */










